<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style/global.css" />
    </head>
    <body>
        <div>
            <h1>index.html</h1>
            <img
                src="/main.jpg"
                alt="Image not upload to server yet, go to form"
                width="600"
                height="250"
            />
            <br />
            <br />
            <a href="form.html">Form</a>
        </div>
    </body>
</html>
